<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="canvas-app">
    <img src="nodejs.png"/>
    
    <table>
        <tr><td>First Name:</td><td><%= contact.FirstName %></td></tr>
        <tr><td>Last Name:</td><td><%= contact.LastName %></td></tr>
     </table>
    
</div>
</body>
